.formbackground {
    background-color: hsl(257, 27%, 26%);
    background-image: url('../images/bg-boost-desktop.svg');
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    width: 50%;
    z-index: 3;
    top: 35.5rem;
    right: 15.5em;
    text-align: center;
}

input {
    width: 70%;
    margin-right: 10px;
    height: 37px;
    border-radius: 7px;
}

.shorten-it {
    margin-bottom: 3px;
    background-color: hsl(180, 66%, 49%);
    border-color: none;
    border-style: none;
}

@media (max-width: 972px) {

}