
div.col.illustration {
    position: relative;
}

img#working {
    position:absolute;
    clip:rect(0px,600px,500px,0px);
}

p {
    color: hsl(257, 7%, 63%);
    font-size: small;
    font-weight: lighter;
}

.get-started{   
    background-color: hsl(180, 66%, 49%);
    border: none;
    padding:2em 3em;
    border-radius: 2em;
}

button.get-started:hover {
    background-color: rgb(156, 225, 247);
}

.formbackground {
    background-color: hsl(257, 27%, 26%);
    background-image: url('../images/bg-boost-desktop.svg');
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    width: 60%;
    z-index: 3;
    top: 12.5em;
    right: 12em;
    text-align: center;
}

input {
    width: 60%;
    margin-right: 10px;
    height: 37px;
    border-radius: 7px;
}

.shorten-it {
    margin-bottom: 3px;
    background-color: hsl(180, 66%, 49%);
    border-color: none;
    border-style: none;
}

