
a.shortly {
    font-size: x-large;
}

ul.choices {
    font-size: smaller;
    /* font-weight: 600; */
}

.nav-link.login {
    font-size: smaller;
}

button.sign-up {
    background-color: hsl(180, 66%, 49%);
    border: none;
    padding:0.4em 1em;
    border-radius: 2em;
}

button.sign-up:hover {
    background-color: rgb(168, 227, 245);
}