
a.shortly {
    font-size: x-large;
}

@media (max-width: 972px) {
    a.shortly {
        font-size: xx-large;
        margin-top: 30px;
    }
}

ul.choices {
    font-size: smaller;
    text-decoration: none;
}

.nav-link.login {
    font-size: smaller;
}

button.sign-up {
    background-color: hsl(180, 66%, 49%);
    border: none;
    padding:0.4em 1em;
    border-radius: 2em;
}

button.sign-up:hover {
    background-color: rgb(168, 227, 245);
}

/* @media (max-width: 972px) {
    ul {
        position: fixed;
        width: 100%;
        text-align: center;
        background-color: rgb(102, 45, 102);
    }

    ul li {
        display: block;
    }
} */