.card {
    padding: 10px;
    padding-top: 40px;
    position: relative;
    z-index: 1;
    width: 23rem;
}

div.hero {
    background-color: hsl(267, 27%, 94%)
}

.advance {
    text-align: center;
    font-weight: 700;
}

.sentence {
    text-align: center;
    color: hsl(257, 7%, 63%)
}

h5.card-title {
    font-weight: 700;
}

.card-text {
    color: hsl(257, 7%, 63%);
}

.circle {
    background-color: hsl(257, 27%, 26%);
    width: 70px;
    height: 70px;
    padding: 12px;
    display: flex;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: -1em;
    left: 2em;
}

.circle img {
    width: 34px;
    height: auto;
    display: block;
    margin: auto;
}

@media (max-width: 772px) {
    .three-cards {
        text-align: center;
        justify-content: center;
        padding: 10px;
    }
    
    .col {
        margin-top: 30px !important;
        place-items: center;        
    }

    .circle {
        padding: 12px;
        display: flex;
        border-radius: 50%;
        position: absolute;
        z-index: 3;
        left: 10rem;
    }

    .circle img {
        width: 34px;
        height: auto;
        display: block;
        margin: auto;
    }
}

@media (min-width: 764px) and (max-width: 1064px) {
    .card {
        width: 15rem;
        justify-content: center;
    }
}
