.card {
    padding: 10px;
}

div.hero {
    background-color: hsl(267, 27%, 94%)
}

.advance {
    text-align: center;
    font-weight: 700;
}

.sentence {
    text-align: center;
    color: hsl(257, 7%, 63%)
}

h5.card-title {
    font-weight: 700;
}

.card-text {
    color: hsl(257, 7%, 63%);
}

.circle {
    background-color: hsl(257, 27%, 26%);
    width: 55px;
    height: 55px;
    padding: 12px;
    display: flex;
    border-radius: 50%;
}

.circle img {
    width: 26px;
    height: auto;
    display: block;
    margin: auto;
}

@media (max-width: 772px) {
    .three-cards {
        text-align: center;
        justify-content: center;
        padding: 10px;
        /* margin-left: 45px; */
    }
}
