.footer {
    background-color:hsl(260, 8%, 14%);
    position: sticky;
    width: 100%;
    padding: 40px;

}

@media (min-width: 375px) and (max-width: 789px) {
    .footer {
        justify-content: center;
    }
}

@media (max-width: 567px) {
    .shortly {
        text-align: center;
        padding-bottom: 40px;
    }
    
}

.shortly{
    color: white;
    font-weight: 700;
    text-align: none;
}

@media (max-width: 567px) {
    .options {
        text-align: center;
    }
}

.features {
    color: white;
    font-weight: 600;
}

.resources {
    color: white;
    font-weight: 600;
}

.company {
    color: white;
    font-weight: 600;
}

a.nav-link {
    color: hsl(0, 0%, 75%);
    line-height: normal;
}

a:hover {
    color: hsl(180, 66%, 49%)
}

.icons.nav-items {
    padding-right: 5px;    
}

@media (max-width: 567px) {
    .icons {
        padding: 35px;
        justify-content: center;
    }

}

i {
    color: white;
}

i:hover {
    color: hsl(180, 66%, 49%)
}