.link {
    background-color: hsl(257, 27%, 26%);
    width: 100%;
    padding-top: 50px;
    height: 200px;
}

.links-title {
    color: white;
    text-align: center;
}

@media (max-width: 440px) {
    .start-btn {
        text-align: center;
    }
}
/* .boostlinks {
    text-align: center;
} */