/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */
* {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

}